[Unit]
Description=Aliyun Assist
ConditionFileIsExecutable=/usr/local/share/aliyun-assist/2.2.3.256/aliyun-service
 
After=network-online.target  
Wants=network-online.target 

[Service]
StandardOutput=journal+console
StandardError=journal+console
StartLimitInterval=3600
StartLimitBurst=10
ExecStart=/usr/local/share/aliyun-assist/2.2.3.256/aliyun-service







Restart=on-failure

RestartSec=120
EnvironmentFile=-/etc/sysconfig/aliyun
KillMode=process
[Install]
WantedBy=multi-user.target
